{{ if .Site.Params.copyCodeButton }}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const blocks = document.querySelectorAll('pre > code');

    const lang = "{{ .Site.Language.Lang }}";
    const textCopy = lang === "es" ? "Copiar" : "Copy";
    const textCopied = lang === "es" ? "¡Copiado!" : "Copied!";

    blocks.forEach((block) => {
      const button = document.createElement('button');
      button.className = 'copy-code-button';
      button.type = 'button';
      button.innerText = textCopy;
      button.addEventListener('click', () => {
        navigator.clipboard.writeText(block.innerText);
        button.innerText = textCopied;
        setTimeout(() => {
          button.innerText = textCopy;
        }, 2000);
      });
      block.parentNode.insertBefore(button, block);
    });
  });
</script>

<style>
.copy-code-button {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10;
}
pre {
  position: relative;
}
</style>
{{ end }}
