{{- if .IsTranslated -}}
  {{- if (ne .Layout "search") }}
    {{- if or .Params.author site.Params.author (.Param "ShowReadingTime") (not .Date.IsZero) }}
      &nbsp;·&nbsp;
    {{- end }}
  {{- end }}

  {{- $currentLang := .Site.Language.Lang }}
  {{- range .Translations }}
    {{- if ne .Lang $currentLang }}
      <a href="{{ .Permalink }}">
        {{- if (and site.Params.displayFullLangName (.Language.LanguageName)) }}
          {{- .Language.LanguageName | emojify -}}
        {{- else }}
          {{- .Lang | title -}}
        {{- end -}}
      </a>
    {{- end }}
  {{- end }}
{{- end }}
